.banner{
    background-image: url("https://cmacgm-group.com/api/sites/default/files/2020-10/CMA%20-%202.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    margin-top: 0px ;
    margin: 0px;
}
